@font-face {
    font-family: "geek";
    src: url("../public/fontes/geek.ttf");
}

ul,
li {
    list-style: none;
    text-align: right;
}

#card1 {
    border-radius: 10px;
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/61Hvmpdj7RL._AC_SL1000_.jpg);
}

#card2 {
    border-radius: 10px;
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/61Hvmpdj7RL._AC_SL1000_.jpg)
}

#card3 {
    border-radius: 10px;
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/61Hvmpdj7RL._AC_SL1000_.jpg)
}

#card1texto {
    color: #996633;
    font-style: italic;
    text-shadow: 2px 2px #000000;
}

#conhecer {
    color: rgb(0, 0, 0);
}

#esp {
    font-family: "geek";
}

.rounded-circle:hover {
    box-shadow: #887228 4px 4px 4px 4px;
}

.rounded-circle {
    border: #996633 solid 3px;
}

body {
    background-image: url(https://www.desktopbackground.org/download/o/2011/10/29/288578_dark-mountain-wallpapers-nature-wallpapers_1920x1080_h.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    padding: 5px;
    text-align: center;
    background: #4b5352;
    color: white;
    font-size: 30px;
}

.jura {}