@font-face {
    font-family: "fuego";
    src: url("../../public/fontes/inferno.ttf");
}

ul,
li {
    list-style: none;
    text-align: right;
}

#card1 {
    border-radius: 10px;
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/61Hvmpdj7RL._AC_SL1000_.jpg);
}

#card2 {
    border-radius: 10px;
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/61Hvmpdj7RL._AC_SL1000_.jpg)
}

#card3 {
    border-radius: 10px;
    background-image: url(https://images-na.ssl-images-amazon.com/images/I/61Hvmpdj7RL._AC_SL1000_.jpg)
}

#card1texto {
    color: #996633;
    font-style: italic;
    text-shadow: 2px 2px #000000;
}

#card1:hover {
    box-shadow: #000000 4px 4px 4px 4px;
}

#card2:hover {
    box-shadow: #000000 4px 4px 4px 4px;
}

#card3:hover {
    box-shadow: #000000 4px 4px 4px 4px;
}

#conhecer {
    color: rgb(0, 0, 0);
}

#esp {
    font-family: "fuego";
    color: rgb(170, 46, 29);
}

.rounded-circle:hover {
    box-shadow: #887228 4px 4px 4px 4px;
}

.rounded-circle {
    border: #996633 solid 3px;
}

body {
    background-image: url(https://www.desktopbackground.org/download/o/2011/10/29/288578_dark-mountain-wallpapers-nature-wallpapers_1920x1080_h.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#header {
    padding: 5px;
    text-align: left;
    color: white;
    font-size: 30px;
   
   
}

#achados {
    font-family: "fuego";
    color: rgb(176, 187, 82);
}

#dragon{
    background-repeat: no-repeat;
    background-size: cover;
}
#Sobre{
    position: absolute;
    right: 30px;
    top: 10;
    color:  #996633;
}

#p1{
    position: absolute;
    right: 30px;
    top: 70px;
    color: rgb(37, 167, 44);
}
#p2{
    position: absolute;
    right: 30px;
    top: 105px;
}

#p3 { position: absolute;
    right: 30px;
    top: 140px;
}
.carousel-item img{
    width: auto;
    height: 245px;
    max-height: 245px;
    margin: auto; 
    display: block;
    }

    #circle{
        border: solid 2px;
        border-radius: 10px;
        border-top-color: green;
        border-bottom-color: green;
        border-left-color: green;
        border-right-color: green;
        color: rgb(189, 189, 189);
        background-image: url(https://images-na.ssl-images-amazon.com/images/I/61Hvmpdj7RL._AC_SL1000_.jpg);
    }

    #conhecer:hover{
        box-shadow: #000000 4px 4px 4px 4px;
    }

      
      #slid1 {
        position: absolute;
        left: -40px;
        top: 800px;
      }
      
      #slid2 {
        position: absolute;
        right: -30px;
        top: 800px;
      }

      #slideimg {
          border: rgb(0, 0, 0) solid 4px;
          border-radius: 10px;
      }

     
    